<h1 class="py-2 text-3xl">BIOGRAFÍA</h1>

<h4>Alberto Greco nace en Buenos Aires, Argentina en 1931 y es reconocido como uno de los pioneros de la vanguardia informalista argentina al integrar en 1959 el Movimiento Informalista Argentino.</h4>
<h4>En 1961 realiza su última muestra de pinturas en Buenos Aires en la galería Pizarro, en la cual presenta la serie Las Mojas.</h4>
<h4>Poco después se instala en Paris donde realiza, en 1962, la Primera Exposición de Arte Vivo, “firmando” personas.</h4>
<h4>En 1963 viaja a Piedralaves en Ávila, España, donde realiza la serie de acciones fotografiadas por Montserrat Santamaría.</h4>
<h4>En Génova, en ese mismo año, publica el Manifiesto Dito dell’Arte Vivo en italiano.</h4>
<h4>En 1964, expone en la galería Juana Mordó en Madrid y regresa a Buenos Aires, donde presenta su experiencia de Arte Vivo: Mi Madrid querido. Pintura espectáculo Vivo-Dito, con colaboración del bailarín Antonio Gades.</h4>
<h4>En 1965, se instala en Barcelona, ciudad en la cual se quita la vida.</h4>

<h2 class="py-2 text-3xl">TRAYECTORIA</h2>

<h3>1947-48</h3>
<h4>Asiste a los talleres de Cecilia Marcovich y Tomas Maldonado.</h4>

<h3>1955</h3>
<h4>Expone en la galería La Roue   - París, Francia.</h4>

<h3>1956</h3>
<h4>Regresa a Buenos Aires y expone en la galería Antígona.</h4>
<h4>Expone en la galería Petit Galerie – Río de Janeiro, Brasil.</h4>

<h3>1958</h3>
<h4>Expone en Museo de Arte Moderno – Sao Paulo, Brasil.</h4>

<h3>1959</h3>
<h4>Integra Movimiento Informalista con Kenneth Kemble, López, Maza, Martha Pucciarelli, y Luis Wells, entre otros.</h4>

<h3>1959</h3>
<h4>Movimiento Informalista. Galería Van Riel – Buenos Aires, Argentina.</h4>
<h4>Informalismo. Galería Pizarro – Buenos Aires, Argentina.</h4>

<h3>1960</h3>
<h4>Expone en Galería Pizarro – Buenos Aires, Argentina.</h4>
<h4>Participa en VI Salón Anual de Arte Nuevo. Museo Eduardo Sívori – Buenos Aires, Argentina.</h4>

<h3>1961</h3>
<h4>Las Monjas. Galería Pizarro – Buenos Aires, Argentina.</h4>

<h3>1962</h3>
<h4>Pablo (Curatella) Manes y 30 artistas argentinos de Nueva Generación. Galería Creuze Messine – París, Francia.</h4>

<h3>1964</h3>
<h4>Expone en Galería Juana Mordó – Madrid, España.</h4>

<h2 class="py-2 text-3xl">EXHIBICIONES PÓSTUMAS</h2>

<h3>1996</h3>
<h4>Alberto Greco. Obras extraviadas. Centro Cultural Borges – Buenos Aires, Argentina.</h4>

<h3>1992</h3>
<h4>Alberto Greco. Museo Nacional de Bellas Arte – Buenos Aires, Argentina.</h4>

<h3>1991</h3>
<h4>Alberto Greco. IVAM Centro Julio González – Valencia, España.</h4>

<h3>1988</h3>
<h4>Alberto Greco y Rubén Santatonín. Fundación San Telmo – Buenos Aires, Argentina.</h4>

<h3>1987</h3>
<h4>Alberto Greco a cinco anos de su muerte. Galería Carmen Waugh – Buenos Aires, Argentina.</h4>

<h3>1967</h3>
<h4>Salón de Jeune Peinture -  París, Francia.</h4>

<h3>1965</h3>
<h4>Homenaje a Alberto Greco. Galería Pizarro – Buenos Aires, Argentina.</h4>


<h2 class="py-2 text-3xl">PREMIOS Y RECONOCIMIENTOS</h2>

<h3>1960</h3>
<h4>Premio de público de Ridder.</h4>

<h3>1958</h3>
<h4>Premio Adquisición del Estado de San Pablo en pintura.</h4>

<h3>1954</h3>
<h4>Beca del Gobierno Francés para mudarse a París.</h4>

<h2 class="py-2 text-3xl">COLECCIONES PÚBLICAS Y PRIVADAS</h2>

<h3>Museo de Arte Contemporáneo de Rosario – Rosario, Argentina.</h3>
<h3>Museo de Arte Moderno de Buenos Aires – Buenos Aires, Argentina.</h3>
<h3>Museo Nacional de Bellas Arte – Buenos Aires, Argentina.</h3>
<h3>Fundación Federico Jorge Klemm – Buenos Aires, Argentina.</h3>
<h3>Museo Nacional Centro de Arte Reina Sofía – Madrid, España.</h3>
