<div class="text-gray-700">

  <h1 class="text-5xl">Alberto Greco</h1>

  <ol>
    <li>BIOGRAFIA</li>
    <li>
      <%= link_to "OBRAS", artworks_path %>
    </li>
    <li>
      <%= link_to "MUESTRAS", shows_path %>
    </li>
  </ol>

</div>
