<div class="h-screen">
  <% @phases.each do |phase| %>
    <h3 class="text-3xl py-1 hover:underline">
      <%= link_to phase_path(phase) do %>
        <%= phase.title %>
      <% end %>
    </h3>
  <% end %>
  <div class="pt-6">
    <svg class="animate-bounce w-6 h-6 text-gray-900" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
      <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
    </svg>
  </div>
</div>
